
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #name, #email, #message, #subject {
        color: black;
    }
</style>
<script src="https://smtpjs.com/v3/smtp.js">
    function sendEmail() {
        Email.send({
            Host: "https://www.gmail.com",
            Username: "MANHammerStudios@gmail.com",
            Password: "hegemon18",
            To: 'MANHammerStudios@gmail.com',
            From: document.getElementById('email'),
            Subject: document.getElementById('subject'),
            Body: document.getElementById('message')
        }).then(
            message => alert(message)
        );
    }
</script>

<script src="~/Scripts/contactForm.js" type="text/javascript"></script>

<div class="container-fluid">
    <form action="https://formspree.io/MANHammerStudios@gmail.com" method="POST" id="contactCol">
        <div class="row" id="contactCol">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="contactCol">
                <label id="contactLabela" for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Your name" />
                <br />
                <label id="contactLabel" for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Your email address" />
                <br />
                <label id="contactLabel" for="subject">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Message subject" />
                <br />
            </div><!--End column-->
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="contactCol">
                <label for="message">Message</label>
                <br />
                <textarea id="message" name="message" placeholder="What would you like to know?"></textarea>
                <br />
                <input type="submit" id="submit" value="Submit" onclick="sendEmail()" />
            </div><!--End column-->
        </div><!--End row-->
    </form><!--End form-->
    <div class="container" id="contactEndDiv" />
</div><!--End container-->
