
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://smtpjs.com/v3/smtp.js">

    function sendEmail()
    {
        Email.send({
            Host: "https://www.gmail.com",
            Username: "MANHammerStudios@gmail.com",
            Password: "hegemon18",
            To: 'MANHammerStudios@gmail.com',
            From: document.getElementById('email'),
            Subject: "New Studio Email",
            Body: document.getElementById('message')
        }).then(
            message => alert(message)
        );
    }
</script>

<div class="container" id="contactContainer">
    <form id="contact" action="https://formspree.io/MANHammerStudios@gmail.com" method="post">
        <h3 id="contactHead">MANHammer Studios Contact Form</h3>
        <fieldset>
            <input placeholder="Your name" id="name" name="name" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input placeholder="Your Email Address" id="email" name="email" type="text" tabindex="2" required>
        </fieldset>
        <fieldset>
            <textarea placeholder="Type your message here..." name="message" id="message" tabindex="3" required></textarea>
        </fieldset>
        <fieldset>
            <input type="submit" id="submit" value="Submit" onclick="sendEmail()" />
        </fieldset>
    </form>
</div>