
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="galleryContainer">
    <p>
        <h4 id="galHead2">Gallery</h4>
    </p>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h4 id="galHead">Adeptus Mechanicus</h4>
            <div id="smCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
                <!-- Indicators
                <ol class="carousel-indicators">
                  <li data-target="#smCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#smCarousel" data-slide-to="1"></li>
                  <li data-target="#smCarousel" data-slide-to="2"></li>
                </ol>-->
                <!-- Wrapper for slides -->
                <div class="carousel-inner" id="smCarousel">
                    <div class="item active">
                        <img src="../Images/AdMech/AdMechLot1.jpg" alt="1" />
                    </div>
                    <div class="item">
                        <img src="../Images/AdMech/Dragoon.jpg" alt="2" />
                    </div>
                    <div class="item">
                        <img src="../Images/AdMech/ElectroPriests.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/AdMech/Infiltrators.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/AdMech/Kastellan.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/AdMech/Kataphron1.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/AdMech/Kataphron2.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/AdMech/MagosNDatasmith.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/AdMech/Onager.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/AdMech/Onager2.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/AdMech/Ruststalkers.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/AdMech/SkitariiRangers.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/AdMech/SkitariiVanguard.jpg" alt="3" />
                    </div>
                </div>
                <!--End inner carousel-->
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#smCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#smCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--End carousel-->
        </div>
        <!--End column-->
    </div>
    <!--End row-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h4 id="galHead">Alpha Legion</h4>
            <div id="smCarousela" class="carousel slide" data-interval="false" data-ride="carousel">
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner" id="smCarousel">
                    <div class="item active">
                        <img src="../Images/HeresyAlphaLegion/ALLot2.jpg" alt="1" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/Apothecary.jpg" alt="2" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/Apothecary2.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/Apothecary3.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/Apothecary4.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/Cataphractii.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/Contemptor2.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/Fellblade2.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/Fellblade3.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/Fellblade4.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/HeavySupport2.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/LaserDestroyer2.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/Lieutenant.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/Praetors.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/Sergeant.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/SupportSquad.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/SupportSquad2.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/SupportSquad3.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/SupportSquad4.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/Tacticals.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/TacticalSquad.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/TacticalSquad2.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/HeresyAlphaLegion/TacticalSquad3.jpg" alt="3" />
                    </div>
                </div>
                <!--End carousel-inner-->
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#smCarousela" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#smCarousela" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--End carousel-->
        </div>
        <!--End column-->
    </div>
    <!--End row-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h4 id="galHead">Dark Souls</h4>
            <div id="smCarouselb" class="carousel slide" data-interval="false" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" id="smCarousel">
                    <div class="item active">
                        <img src="../Images/DarkSouls/ds1.jpg" alt="1" />
                    </div>
                    <div class="item">
                        <img src="../Images/DarkSouls/ds2.jpg" alt="2" />
                    </div>
                    <div class="item">
                        <img src="../Images/DarkSouls/ds3.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/DarkSouls/ds4.jpg" alt="3" />
                    </div>
                </div>
                <!--End carousel-inner-->
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#smCarouselb" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#smCarouselb" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--End carousel-->
        </div>
        <!--End column-->
    </div>
    <!--End row-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h4 id="galHead">Knights</h4>
            <div id="smCarouselc" class="carousel slide" data-interval="false" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" id="smCarousel">
                    <div class="item active">
                        <img src="../Images/Knights/Freeblade1.jpg" alt="1" />
                    </div>
                    <div class="item">
                        <img src="../Images/Knights/Freeblade2.jpg" alt="2" />
                    </div>
                    <div class="item">
                        <img src="../Images/Knights/Freeblade3.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/Knights/Freeblade4.jpg" alt="2" />
                    </div>
                    <div class="item">
                        <img src="../Images/Knights/Freeblade5.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/Knights/Freeblade6.jpg" alt="2" />
                    </div>
                    <div class="item">
                        <img src="../Images/Knights/Freeblade7.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/Knights/Taranis1.jpg" alt="2" />
                    </div>
                    <div class="item">
                        <img src="../Images/Knights/Taranis2.jpg" alt="3" />
                    </div>
                    <div class="item">
                        <img src="../Images/Knights/Taranis3.jpg" alt="2" />
                    </div>
                </div>
                <!--End carousel-inner-->
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#smCarouselc" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#smCarouselc" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--End carousel-->
        </div>
        <!--End column-->
    </div>
    <!--End row-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h4 id="galHead">Kingdom Death</h4>
            <div id="smCarouseld" class="carousel slide" data-interval="false" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" id="smCarousel">
                    <div class="item active">
                        <img src="../Images/KingdomDeath/WhiteLion_1.jpg" alt="1" />
                    </div>
                    <div class="item">
                        <img src="../Images/KingdomDeath/WhiteLion_2.jpg" alt="2" />
                    </div>
                </div>
                <!--End carousel-inner-->
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#smCarouseld" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#smCarouseld" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--End carousel-->
        </div>
        <!--End column-->
    </div>
    <!--End row-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h4 id="galHead">X-Wing</h4>
            <div id="smCarousele" class="carousel slide" data-interval="false" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" id="smCarousel">
                    <div class="item active">
                        <img src="../Images/XWing/xw1.jpg" alt="1" />
                    </div>
                    <div class="item">
                        <img src="../Images/XWing/xw2.jpg" alt="2" />
                    </div>
                    <div class="item">
                        <img src="../Images/XWing/xw3.jpg" alt="2" />
                    </div>
                    <div class="item">
                        <img src="../Images/XWing/xw4.jpg" alt="2" />
                    </div>
                    <div class="item">
                        <img src="../Images/XWing/xw5.jpg" alt="2" />
                    </div>
                </div>
                <!--End carousel-inner-->
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#smCarousele" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#smCarousele" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--End carousel-->
        </div>
        <!--End column-->
    </div>
    <!--End row-->
    <div class="container" id="galDivFin" />
</div>
<!--End container-->
