
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <form action="action_page.php">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="container-fluid">
                    <iframe id="priceSheet" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQIEItpGuDekV_sqxHCeHfYvFGdI0Xs2lJxS7PePZldjyMh7CHr1J0fBxg40FNvDrQc9dUcmeXIoFcS/pubhtml?widget=true&amp;headers=false"></iframe>
                </div>
                <!--End container-->
            </div>
            <!--End column-->
        </div>
        <!--End row-->
    </form>
    <!--End form-->
</div>
<!--End container-->
