<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="column">
      <div class="sidebar-nav-fixed affix">
        <div class="well">
          <img class="image-responsive" id="profilePicture" src="../Images/profilepicture.jpg" />
          <h3 id="aboutHead">Michael Nollette</h3>
          <h4 id="aboutHead">MANHammerStudios@Gmail.com</h4>
        </div>
      </div>
    </div><!--End column-->
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="column">
      <p id="aboutP">
        Hello,
        <br/><br/>My name is Michael, and I started MANHammer Studios back in 2014, though I've been
        painting since 2008. When I was young, I was fascinated by tabletop games, and Warhammer 40k
        in particular, but my family was (understandably) unable to support such an expensive hobby
        for a kid who might not even have the attention span to stick with it for a week. So naturally,
        the minute I was able to I picked up some Space Marines and started my Knights of the Crimson Behelit.
        <br/><br/>
        It snowballed pretty hard from there. Before I knew it I had about 8,000 points worth of glorious
        Marines. Then I thought a xenos army would be good, so I had Tyranids. Then I wanted the
        final allegiance in the Ordo trifecta, and so I snagged my Death Guard. Then Imperial Guard, then
        daemons, necrons, assassins, inquisition, knights, heresy Alpha Legion &amp; Mechanicum...briefly had tau,
        thousand sons, and custodes. Might have gotten a little out of hand, but I loved the artistic aspect
        of the game almost as much as the lore and the strategy.
        <br/>
        So I started painting. I painted my Marines.
        <br/>
      </p>
      <img class="img-responsive" id="aboutMeEx" src="../Images/SpaceMarines/SMLot1.jpg"/>
      <p id="aboutP">
        <br/>
        I painted my knight.
        <br/>
      </p>
      <img class="img-responsive" id="aboutMeEx" src="../Images/Knights/Freeblade1.jpg"/>
      <p id="aboutP">
        <br/>
        I painted my Alpha Legion
        <br/>
      </p>
      <img class="img-responsive" id="aboutMeEx" src="../Images/HeresyAlphaLegion/ALLot1.jpg"/>
      <p id="aboutPF">
        <br/>
        I kept painting until I was passable, then I started painting for other folks, in exchange for
        enough cash to replace the supplies I used. After a while, I decided to make it "official" and
        opened up my studio facebook page! Since then, I've painted White Scars, heresy era Salamanders,
        Tau, Hero Forge minis, X-Wing ships, Chaos Warriors, Admech, Dark Souls miniatures...you name it!
        I look forward to working with you to expand my repertoire even further.
      </p>
    </div>
    <!--End column-->
  </div>
  <!--End row-->
</div>
<!--End container-->
