<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="column">
      <h3 id="aboutHead">Home Page</h3>
      <img class="image-responsive" id="profilePicture" src="../Images/homePage.png" />   
      <h3>"About" Page</h3>
      <img class="image-responsive" id="profilePicture" src="../Images/about.png" />
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="column">
      <p id="aboutPa">
        My site contains five pages (not including this one). I had planned on doing six (even made the sixth already), but with a lack of content to apply to the
        home page, I decided to merge it with the testimonials section. It will also include a direct link to my painting blog on the navbar.
        <br/><br/>
        Home page: Will contain a brief intro to what service I provide, as well as a preview of my recent blog posts and a few testimonials<br/>
        About Me: A detailed account of my skills and experience, as well as that of another artist who works with me. Will possibly include a few images<br/>
        Gallery: A series of carousels showing off various projects I've worked on<br/>
        Pricing Information: A simple embedded excel document detailing my pricing information. Might split it up into 3 sheets under a tab control.<br/>
        Contact: Info sheet for contacting me; might be difficult. Will need to set it up to email me whenever someone completes it with valid information.
      </p>      
    </div>
  </div>
</div>
