/*#region resetCSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.bg {
    background-image: url("../images/Taranisbg.jpg");
    height: 100%;
    background-position: center;
    background-color: black;
}

/*#endregion resetCSS*/


/*All CSS elements are contained within the following regions*/
/*Each region is sorted by element type first, in order of class > tag*/
/*Secondary sorting is alphabetical*/
/*All core elements - base headers, body, etc - are in the coreElementStyles region*/
/*#region backgroundStyles*/
.webmadewell {
    background-color: white;
}
/*#endregion backgroundStyles*/
/*#region buttonNavStyles*/
.desktopMenu {
    display: block;
}

.mobileMenu {
    display: none;
    padding-left: 0;
}
UL.nav > LI {
    list-style: none;
    float: left;
    border: 1px solid red;
    position: relative;
    height: 24px; /* height included for IE 7 */
}

UL.nav UL {
    left: -10000px;
    position: absolute;
}

UL.nav > LI:hover UL {
    left: 0;
    top: 24px; /* IE7 has problems without this */
}
.mobileNavMenuButton {
    background-color: black;
    background-size: cover;
    color: crimson;
    font-size: 1.5em;
    text-shadow: 1px 1px 3px black;
}

#open {
    display: none;
}
/*#endregion buttonNavStyles*/
/*#region captionHeaderFooterStyles*/
    .clearfix:before,
    .clearfix:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .clearfix:after {
        clear: both;
    }

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: powderblue;
    color: black;
    text-align: left;
}

.header-left,
.header-right {
    position: relative;
    color: white;
    float: left;
}

.header-left {
    width: 30%;
}

.header-right label {
    position: absolute;
    top: -3.7em;
    right: 0;
    cursor: pointer;
}

.header-right span {
    position: relative;
    width: 2em;
    height: 2em;
    background: rgba(255,255,255,.3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

    .header-right span:hover {
        background: rgba(255,255,255,.6);
    }

    .header-right span:before,
    .header-right span:after {
        content: '';
        position: absolute;
        width: 2em;
        height: .5em;
        top: 4px;
        left: 0;
        background: black;
    }

    .header-right span:after {
        top: 14px;
    }

.header-right {
    width: 70%;
    text-align: right;
}

.sample-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url("http://webmadewell.com/wp-content/uploads/2018/01/img-bg-sample-parallax-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    .sample-header::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: MidnightBlue;
        opacity: 0.3;
    }

.sample-header-section {
    position: relative;
    padding: 15% 0 10%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: "Montserrat", sans-serif;
}

.aboutHead {
    padding-top: 20px;
    color: black;
}

#footerCR {
    color: white;
    padding-top: 5px;
}

.galHead {
    font-size: 1.5em;
    margin: 15px;
    color: white;
    text-shadow: 1px 1px #bb1e14;
}

.galHead2 {
    font-size: 2em;
    margin: 15px;
    color: white;
    text-shadow: 1px 1px #bb1e14;
}

#homeCap {
    text-shadow: 1px 1px #bb1e14;
    margin-bottom: 10px;
}
.homeHead {
    text-shadow: 1px 1px #bb1e14;
    margin-bottom: 10px;
}
/*#endregion captionHeaderFooterStyles*/
/*#region carouselStyles*/
.carousel-caption {
    position: absolute;
    margin: auto;
    top: auto;
    bottom: auto;
    text-shadow: 2px 2px #000000;
}

#admechTestimonial{
    font-size:.9em;
}

.smCarousel {
    max-height: 700px;
}

#smCarousel0 {
    max-height: 700px;
}

#smCarousela {
    max-height: 700px;
}

#smCarouselb {
    max-height: 700px;
}

#smCarouselc {
    max-height: 700px;
}

#smCarouseld {
    max-height: 700px;
}

#smCarousele {
    max-height: 700px;
}

#xwingTestimonial{
    font-size:1.1em;
}

.testCarBG {
    width: 100%;
    height: 100%;
    vertical-align: central;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#testCarouselRight {
    margin-left: 0;
    margin-right: 0;
}
/*#endregion carouselStyles*/
/*#region columnStyles*/
#column{
    padding-right:20px;
}
#contactCol {
    background-image: none;
    background-color: black;
}

.leftCol {
    background: rgba(0,0,0,.6);
    color: white;
}

.midCol {
    background: rgba(0,0,0,.6);
    color: white;
}

.rightCol {
    background: rgba(0,0,0,.6);
    color: white;
}
/*#endregion columnStyles*/
/*#region contactStyles*/
#name, #email, #message, #submit, #subject {
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#contactContainer {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

    #contact h3 {
        display: block;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    #contact h4 {
        margin: 5px 0 15px;
        display: block;
        font-size: 13px;
        font-weight: 400;
    }

#contactHead {
    color: darkblue;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

    #contact input[type="text"]:hover,
    #contact input[type="email"]:hover,
    #contact input[type="tel"]:hover,
    #contact input[type="url"]:hover,
    #contact textarea:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #aaa;
    }

#contact textarea {
    height: 250px;
    max-width: 100%;
    resize: none;
    color: black;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

    #contact button[type="submit"]:hover {
        background: #43A047;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
    }

    #contact button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}
/*#endregion*/
/*#region coreElementStyles*/

a {
    text-decoration: none;
    color: white;
}

body {
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: medium;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, darkseagreen, darkcyan);
}

h1 {
    font-weight: 300;
    line-height: 40px;
}

h2 {
    margin: 0;
    color: #888;
    padding-top: 80px;
    font-size: 30px;
}

h3 {
    font-size: 1.25em;
}

header {
    width: 100%;
    height: auto;
    background: black;
}

html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

img {
    width: 95%;
    height: 95%;
}

input[type=text] {
    width: 90%
}

li {
    font-size: small;
    list-style-type: none;
    padding: 0 32px;
    border: 1px solid white;
}

nav > a {
    position: relative;
    display: inline-block;
    font-size: 13px;
    line-height: 40px;
    padding: 0 2em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

    nav > a:hover {
        background: rgba(255,255,255,.9);
        color: black;
    }

p {
    margin-left: 12px;
    font-size: small;
    width: 100%;

}

ul {
    font-size: small;
    display: inline-block;
    padding: 0;
    background-color: black;
    color: white;
}
/*#endregion coreElementStyles*/
/*#region divContentsStyles*/
.container {
    width: 100%;
    margin: 0 auto;
}

.hidden-desktop {
    display: none;
}

#blogPrev {
    width: 90%;
    height: 300px;
    border: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

#exVid {
    width: 85%;
}

#galDivFin {
    min-height: 25px;
}

#galleryContainer {
    background-image: none;
    background-color: black;
}

#mobileNavDiv{
    background-color:black;
}

#priceSheet {
    width: 100%;
    height: 750px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.testItem {
    background: #333;
    text-align: center;
    height: 500px;
}
/*#endregion divContentsStyles*/
/*#region imageStyles*/
.figure {
    width: 85%;
}

.aboutMeEx {
    max-width: 600px;
    max-height: 650px;
    border: 1px solid #000000;
}

#artBanner {
    width: 100%;
    max-height: 100px;
}

#homeBanner {
    padding-top: 10px;
}

#logo {
    width: 40%;
    height: 40%;
}

#profilePicture {
    border-radius: 8px;
    border: 1px solid #000000;
    max-width: 500px;
}
/*#endregion imageStyles*/
/*#region mediaQueries*/

/* Smallest devices (phones, under 768px) */
@media screen and (max-width: 767px) {
    body {
        background-image: none;
        background-color: black;
        color: white;
        padding: 0 .5em;
    }

    h1 {
        padding: .5em 0;
    }

    input[type="checkbox"]:checked + nav {
        height: 205px;
    }

    nav {
        height: 0;
        overflow: hidden;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
    }

        nav > a {
            padding: 0 1em;
            display: block;
            border-bottom: solid 1px rgba(255,255,255,.1);
        }

    .container {
        width: 90%;
    }

    .header-left,
    .header-right {
        width: 100%;
        text-align: center;
    }

    .hidden-desktop {
        display: block;
    }

    .aboutP {
        padding-bottom: 10px;
        font-size: 1em;
        padding-top: 10px;
    }

    .aboutPF {
        padding-bottom: 150px;
        font-size: 1em;
        padding-top: 10px;
    }

    #admechTestimonial {
        font-size: .8em;
    }

    #xwingTestimonial {
        font-size: 1em;
    }

    #contactLabel {
        width: 100%;
    }

    .desktopMenu {
        display: none;
    }

    .leftCol {
        min-height: 300px;
        margin-right: 5%;
        color: white;
    }

    .midCol {
        min-height: 300px;
        color: white;
    }

    .mobileMenu {
        display: block;
        z-index:2;
        position:relative;
    }

    .rightCol {
        min-height: 300px;
        margin-left: 5%;
        color: white;
    }

    .smCarousel {
        max-width: 90%;
    }

    #smCarousel0 {
        max-width: 90%;
    }

    #smCarousela {
        max-width: 90%;
    }

    #smCarouselb {
        max-width: 90%;
    }

    #smCarouselc {
        max-width: 90%;
    }

    #smCarouseld {
        max-width: 90%;
    }

    #smCarousele {
        max-width: 90%;
    }
    ul {
        display: inline-block;
        padding: 0;
        background-color: black;
        color: white;
    }

    li {
        list-style-type: none;
        padding: 0 32px;
        border: 1px solid white;
    }
}

/*Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (orientation:portrait) {
    body {
        background-image: none;
        background-color: lightgray;
        color: black;
    }

    ul {
        list-style: none;
    }

        ul li:nth-child(3) .box {
            clear: both;
        }

        ul li:nth-child(2n) .box {
            margin-right: 0;
            clear: right;
        }

    .box {
        width: 49%;
        margin-bottom: 5%;
    }

    #admechTestimonial {
        font-size: .4em;
    }

    #xwingTestimonial {
        font-size: .5em;
    }

    .leftCol {
        min-height: 600px;
        margin-right: 5%;
        color: white;
    }

    .midCol {
        min-height: 600px;
        color: white;
    }

    .rightCol {
        min-height: 600px;
        margin-left: 5%;
        color: white;
    }

    .smCarousel { 
        max-width: 85%;
    }

    #smCarousel0 {
        max-width: 85%;
    }

    #smCarousela {
        max-width: 85%;
    }

    #smCarouselb {
        max-width: 85%;
    }

    #smCarouselc {
        max-width: 85%;
    }

    #smCarouseld {
        max-width: 85%;
    }

    #smCarousele {
        max-width: 85%;
    }
}

/*Small devices w/landscape orientation*/
@media screen and (min-width: 768px) and (orientation:landscape) {
    body {
        background-image: none;
        background-color: lightgray;
        color: black;
    }

    ul {
        list-style: none;
    }

        ul li:nth-child(3) .box {
            clear: both;
        }

        ul li:nth-child(2n) .box {
            margin-right: 0;
            clear: right;
        }

    .box {
        width: 49%;
        margin-bottom: 5%;
    }

    .aboutP {
        max-width: 70%;
        color: white;
        background: rgba(0,0,0,.6);
    }

    .aboutPF {
        padding-bottom: 150px;
        padding-top: 10px;
    }

    .leftCol {
        min-height: 600px;
        margin-right: 5%;
        color: white;
    }

    .midCol {
        min-height: 600px;
        color: white;
    }

    .rightCol {
        min-height: 600px;
        margin-left: 5%;
        color: white;
    }

    .smCarousel {
        max-width: 85%;
    }

    #smCarousel0 {
        max-width: 85%;
    }

    #smCarousela {
        max-width: 85%;
    }

    #smCarouselb {
        max-width: 85%;
    }

    #smCarouselc {
        max-width: 85%;
    }

    #smCarouseld {
        max-width: 85%;
    }

    #smCarousele {
        max-width: 85%;
    }
}

/*Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    body {
        background-image: none;
        background-color: black;
        color: white;
    }

    .aboutP {
        max-width: 65%;
    }

    .aboutPF {
        max-width: 65%;
        padding-bottom: 150px;
        padding-top: 10px;
    }

    .leftCol {
        min-height: 600px;
        max-width: 30%;
        margin-right: 5%;
        color: white;
        padding: 15px;
        padding-bottom: 60px;
    }

    .midCol {
        min-height: 600px;
        max-width: 30%;
        color: white;
        padding: 15px;
        padding-bottom: 60px;
    }

    .rightCol {
        min-height: 600px;
        max-width: 30%;
        margin-left: 5%;
        color: white;
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 60px;
    }

    .smCarousel {
        max-width: 75%;
        width: inherit;
    }

    #smCarousel0 {
        max-width: 75%;
        width: inherit;
    }

    #smCarousela {
        max-width: 75%;
        width: inherit;
    }

    #smCarouselb {
        max-width: 75%;
        width: inherit;
    }

    #smCarouselc {
        max-width: 75%;
        width: inherit;
    }

    #smCarouseld {
        max-width: 75%;
        width: inherit;
    }

    #smCarousele {
        max-width: 75%;
        width: inherit;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    body {
        color: white;
        width:100%;
    }

    .carousel-control {
        margin-right: 22%;
    }

    .aboutP {
        max-width: 65%;
    }

    .aboutPF {
        padding-bottom: 150px;
        padding-top: 10px;
        max-width: 65%;
    }

    #flamer01 {
        max-height: 100%;
        max-width: 50%;
        align-self: center;
        align-items: center;
        text-align: center;
    }

    #freeblade01 {
        max-height: 100%;
        max-width: 50%;
        align-self: center;
        align-items: center;
        text-align: center;
    }

    .leftCol {
        max-width: 30%;
        margin-right: 5%;
        color: white;
        padding-top: 15px;
        padding-bottom: 60px;
    }

    .midCol {
        min-height: 600px;
        max-width: 30%;
        color: white;
        padding-top: 15px;
        padding-bottom: 60px;
    }

    .rightCol {
        min-height: 600px;
        max-width: 30%;
        margin-left: 5%;
        color: white;
        padding-top: 15px;
        padding-bottom: 60px;
    }

    .smCarousel {
        max-width: 80%;
        width: inherit;
    }

    #smCarousel0 {
        max-width: 80%;
        width: inherit;
    }

    #smCarousela {
        max-width: 80%;
        width: inherit;
    }

    #smCarouselb {
        max-width: 80%;
        width: inherit;
    }

    #smCarouselc {
        max-width: 80%;
        width: inherit;
    }

    #smCarouseld {
        max-width: 80%;
        width: inherit;
    }

    #smCarousele {
        max-width: 80%;
        width: inherit;
    }
}
/*#endregion mediaQueries*/
/*#region spaceDivStyles*/
#contactEndDiv {
    min-height: 200px;
}
/*#endregion spaceDivStyles*/
/*#region textStyles*/
.aboutP {
    padding-bottom: 10px;
    font-size: 1.2em;
    padding-top: 10px;
    background: rgba(0,0,0,.6);
    color: white;
}

.aboutPa {
    font-size: 1.5em;
    margin-top: 80px;
    width: 80%;
    color: white;
    background: rgba(0,0,0,.6);
}

.aboutPF {
    padding-bottom: 150px;
    font-size: 1.2em;
    padding-top: 10px;
    background: rgba(0,0,0,.6);
    color: white;
}

.aboutUs {
    padding-right: 10px;
}

#contactLabel {
    padding-bottom: 10px;
    padding-left: 10px;
    width: 80px;
}

#contactLabela {
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 80px;
}

#message {
    height: 400px;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
}

#reviewP {
    font-size: 1.4em;
}

#subject {
    color: black;
}

#submit {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
/*#endregion textStyles*/





