/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*#region resetCSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg {
  background-image: url("../images/Taranisbg.jpg");
  height: 100%;
  background-position: center;
  background-color:black;

}

/*#endregion resetCSS*/

#homeHead
{
    font-size: 1.5em;
}

.carousel-caption{
    max-width: 98%;
    width: 98%;
    left:0;
}
/*#region mediaQueries*/

/* Smallest devices (phones, under 768px) */
@media screen and (max-width: 767px) {
    .carousel-caption{
        font-size:22px;
    }
}

/*Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (orientation:portrait) {
    .carousel-caption{
        font-size: 20px;
    }
}

/*Small devices w/landscape orientation*/
@media screen and (min-width: 768px) and (orientation:landscape) {
    .carousel-caption{
        font-size:30px;
    }
}

/*Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .carousel-caption{
        font-size: 1.05em;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .carousel-caption{
        width: 90%;
        left:15px;
        font-size:1.15em;
    }
}
/*#endregion mediaQueries*/