/*#region resetCSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg {
    background-image: url("../images/Taranisbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    height: 100%;
    background-position: center;
    background-color: black;
}

/*#endregion resetCSS*/
/*#region art/carousel*/
#artBanner{
    max-height:100px;
}

#homeBanner{
    width:102%;
}

.homeHead {
    font-size: 1.5em;
    text-shadow: 0 0 3px #FF0000;
}

.carousel-caption{
    max-width: 98%;
    width: 98%;
    left:0;
}

/*#endregion*/
/*#region modalControls*/
.mh-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4)
}

.mh-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.mh-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: no;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .mh-button:disabled {
        cursor: not-allowed;
        opacity: 0.3
    }

.mh-dropdown-hover:hover > .mh-button:first-child, .mh-dropdown-click:hover > .mh-button:first-child {
    background-color: #ccc;
    color: #000
}

.mh-bar-block .mh-dropdown-hover .mh-button, .mh-bar-block .mh-dropdown-click .mh-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.mh-bar .mh-button {
    white-space: normal
}

.mh-dropdown-hover.mh-mobile .mh-button, .mh-dropdown-click.mh-mobile .mh-button {
    width: 100%
}

.mh-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.mh-hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important
}

.mh-xlarge {
    font-size: 24px !important
}

.mh-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.mh-animate-zoom {
    animation: animatezoom 0.6s
}

.mh-container:after, .mh-container:before {
    content: "";
    display: table;
    clear: both
}


@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}
/*#endregion*/
/*#region mediaQueries*/

/* Smallest devices (phones, under 768px) */
@media screen and (max-width: 767px) {
    .carousel-caption {
        font-size: 22px;
    }

    .mh-modal-content {
        margin: 0 10px;
        width: auto !important;
    }
    .mh-modal {
        padding-top: 30px
    }
}

/*Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (orientation:portrait) {
    .carousel-caption{
        font-size: 20px;
    }
}

/*Small devices w/landscape orientation*/
@media screen and (min-width: 768px) and (orientation:landscape) {
    .carousel-caption{
        font-size:30px;
    }
}

/*Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .carousel-caption{
        font-size: 1.05em;
    }
    .mh-modal-content {
        width: 900px
    }

    .mh-hide-large {
        display: none !important
    }

    .mh-sidebar.mh-collapse {
        display: block !important
    }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .carousel-caption{
        width: 90%;
        left:15px;
        font-size:1.15em;
    }
}
/*#endregion mediaQueries*/